body {
    max-width: 1920px;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}
.header-foto img {
    /* width: 400px; */
    position: relative;
    z-index: 1;
    /* border-radius: 17%; */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.header-foto {
    display: flex;
    /* justify-content: center; */
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 150px;
    /* width: 50%; */
    width: 70%;
}

.header-info {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 100%;
}

.header-title {
    width: 60%;
}

.header-title h1 {
    background-color: rgb(155, 155, 155);
    text-align: end;
    position: relative;
    padding: 10px 20px;
    letter-spacing: 3px;
}

.header-subtitle {
    width: 70%;
}

.header-subtitle h3{
    color: white;
    background-color: black;
    padding: 10px 20px;
    position: relative;
    letter-spacing: 2px;
    /* width: 70%; */
    text-align: end;
}

.link-line {
    border: none; 
    background-color: red; 
    color: red; 
    height: 2px; 
}

.header-navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    /* margin-right: 1rem; */
    z-index: 1;
    position: relative;
    border: 2px solid black;
    padding: 1rem;
    cursor: pointer;
}