body {
    max-width: 1920px;
    padding: 0;
    box-sizing: border-box;
    background: #dbd8d8;
}

:after,
:before {
    box-sizing: border-box;
}

.header-user-info img {
    border: 1px solid black;
    border-radius: 50%;
    width: 8rem;
}

.header-user-info {
    margin: auto;
    text-align: center;
    padding: 2rem 0 0 0;
}

.container {
    max-width: 90%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
}

.phone img,
.email img,
.telegram img,
.github img,
.linkedin img {
    width: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
}

